.header{

    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: fantasy;


}


.subnav{
     font-size: 15px;
    padding-left: 20px;
   border-bottom:solid  #e7e6e5 0.5px;
    color: #372414;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.subnav .search-form {
     display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.subnav .search-form input{
    outline: none;
     padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 200px;
}

.search-form button {
  padding: 8px 12px;
  border: 2px solid #F7EBDF;
  background-color: #F7EBDF;
  color: #ffffff9e;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}


.search-form button:hover {
  background-color: #f5e1cc;
}
.search-form input:focus {
  border-color: #372414;}


.navbar{
    font-size: 50px;
    text-align: center;
    border-bottom: solid #e7e6e5 0.5px;
padding-top: 30px;
padding-bottom: 30px;
margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: fantasy;
    gap: 40px;
    
}

.navbar a.space{
    color: #372414;
    text-decoration: none;
    
}

.logo img{
    width: 80px;
    height: auto;
    display: block;
}


.foto img{
    width: 1000px;
    height:auto;
   border-radius: 30px;
margin-left: 990px;
margin-top: -500px;
}

.tekst h1{
    font-size: 70px;
    padding-left: 200px;
    padding-top: 80px;
}

.quote p, h2{
    font-size: 40px;
    text-align: center;
    padding-right: 1150px;
}

.quote h2{
 
text-decoration: underline;
}


footer{
  
    width: auto;
    height: auto;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #372414;
  text-align: center;
}

.footer-section p {
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.5;
  color: #372414;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  border-top: 0.5px solid  #e7e6e5;
  padding-top: 10px;
  color: #ccc;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }
}

.container{

    width: auto;
    height: auto;
   background-color: #f1f1f1;
    margin-top: 100px;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 100px;
}

.container h2{
  margin-left: 950px;
    font-style: italic;
}

.container p{
    font-size: 30px;
   line-height: 140%;
}

.container2{
border: solid #f1f1f1 100px;
width: auto;
height: 500px;
margin: auto;
position: relative;
overflow: hidden; 
margin-top: 100px;
}

.container2 img{
    padding-left: 1480px;
}

.container2 p{
    color: #372414;
}