.header{

    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: fantasy;


}


.subnav{
     font-size: 15px;
    padding-left: 20px;
   border-bottom:solid  #e7e6e5 0.5px;
    color: #372414;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.subnav .search-form {
     display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.subnav .search-form input{
    outline: none;
     padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 200px;
}

.search-form button {
  padding: 8px 12px;
  border: 2px solid #F7EBDF;
  background-color: #F7EBDF;
  color: #ffffff9e;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}


.search-form button:hover {
  background-color: #f5e1cc;
}
.search-form input:focus {
  border-color: #372414;}


.navbar{
    font-size: 50px;
    text-align: center;
   
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     border-bottom: solid #e7e6e5 0.5px;
     align-items: center;

     
}

.navbar a.space{
color: #372414;
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 100px; 
}

.quote{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
    margin-bottom: 200px;
    margin-top: -150px;
    
}

.nicolas{

display: flex;
justify-content: center;
border: solid grey 0.5px;
box-shadow: 2px 4px 15px;
margin-top: -200px;
}

.nicolas:hover{
   box-shadow: 2px 4px 25px;
}
.nicolas .nico{
display: flex;
justify-content: space-between;


}


.whipper{
    display: flex;
    justify-content: flex-start;
    padding-top: 250px;
    width: 400px;
    height: 400px;
}

.pic{
    padding-bottom: 500px;
    padding-top: 200px;
    display: flex;
    justify-content: flex-end;
    
}



.pic img{
    width:800px;
    height:500px;
}


.text{
font-size: xx-large;
color: black;
font-family: fantasy;
text-align: start;

padding-top: 100px;

}