.header{

    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: fantasy;


}

.navbar{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     box-shadow: 0 2px 15px;
     
}

.navbar a.space{
color: rgb(255, 255, 255);
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 100px; 
}

.quote{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
    margin-bottom: 200px;
    margin-top: -150px;
    
}

.nicolas{

display: flex;
justify-content: center;
border: solid grey 0.5px;
box-shadow: 2px 4px 15px;
margin-top: -200px;
}

.nicolas:hover{
   box-shadow: 2px 4px 25px;
}
.nicolas .nico{
display: flex;
justify-content: space-between;


}


.whipper{
    display: flex;
    justify-content: flex-start;
    padding-top: 250px;
    width: 400px;
    height: 400px;
}

.pic{
    padding-bottom: 500px;
    padding-top: 200px;
    display: flex;
    justify-content: flex-end;
    
}



.pic img{
    width:800px;
    height:500px;
}


.text{
font-size: xx-large;
color: black;
font-family: fantasy;
text-align: start;

padding-top: 100px;

}