.header{

    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: fantasy;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #fff8f2;
    overflow-x: hidden; 
}

.navbar {
    width: 100%; 
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #6b3e26; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
   border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;  
    position: relative;
    z-index: 10;
}


.nav-left { display: flex; align-items: center; }
.logo { width: 70px; }

.nav-center {
    display: flex;
    gap: 30px;
    justify-content: center; 
    align-items: center;     
    flex: 1;                 
}

.nav-center a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.nav-center a:hover { color: #ffd88c; }

.nav-right { display: flex; align-items: center; gap: 15px; }

.search-bar {
    display: flex; align-items: center;
    background: #fff; border: 1px solid #ffd88c;
    border-radius: 20px; padding: 2px 10px;
}
.search-bar input { border: none; outline: none; padding: 5px; background: none; }
.search-bar button { border: none; background: none; font-size: 18px; cursor: pointer; }

.login-btn img, .cart-icon img {
    width: 30px; height: 30px;
    filter: invert(100%);
    transition: 0.3s;
}
.login-btn img:hover, .cart-icon img:hover {
    filter: invert(85%) sepia(100%) saturate(500%) hue-rotate(30deg);
}

.hamburger {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}



.foto img{
width: 100%;
max-width: 1000px;
height: auto;
border-radius:30px ;
display: block;
margin: 0 auto;
}

.tekst h1{
     font-size: 70px;
  text-align: center;
  margin: 80px auto 0 auto;
}

.quote p, h2{
  font-size: 40px;
  text-align: center;
  margin: 20px auto;
}

.quote h2{
 
text-decoration: underline;
}


footer{
  
    width: auto;
    height: auto;
    padding-top:300px;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #372414;
  text-align: center;
}

.footer-section p {
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.5;
  color: #372414;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  border-top: 0.5px solid  #e7e6e5;
  padding-top: 10px;
  color: #ccc;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }
}

.container{

   max-width: 1000px;
  margin: 60px auto;
  text-align: center;
  padding: 0 20px;
}

.container h2{
 font-size: 36px;
  margin-bottom: 20px;;
}

.container p{
     font-size: 27px;
  line-height: 1.6;
  color: #372414;
}

.container2{
display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 60px auto;
  gap: 40px;
  padding: 0 20px;
}

.container2 img{
 flex: 1 1 400px;
  max-width: 100%;
  border-radius: 20px;
}

.container2 p{
   flex: 1 1 500px;
  font-size: 27px;
  line-height: 1.6;
  color: #372414;
}


.card {
  display: flex;           
  flex-wrap: wrap;            
  justify-content: center;    
  gap: 300px;                  
  padding: 20px;
  margin:0 auto;
  padding-bottom: 300px;
  padding-top: 100px;
 
}



.oval2 {
  width: 250px;
  height: auto;
  text-align: center;
    transition: transform 0.3s; 
}

.oval2 img {
  display: block;
  width: 100%;
  height: 350px;  
  object-fit: cover;
  border-radius: 10px;
}
.oval2:hover {
  transform: scale(1.05);      
  cursor: pointer;
}
.name {
  margin-top: 10px;
}

.name h3 {
  font-size: 20px;
  color: #372414;
  margin: 0;
  font-weight: 600;
  text-align: center;
}


.staff {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.staff h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.name {
  text-align: center;
  margin-top: 12px;
}

.name h3 {
  font-size: 20px;
  font-weight: 600;
  color: #372414;
  margin: 0;
}




.timeline-item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.timeline-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 40px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #372414;
  border-radius: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  left: 49px;
  top: 20px;
  width: 2px;
  height: calc(100% - 20px);
  background-color: #372414;
}

.timeline-item:last-child::after {
  display: none;
}

.year {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.timeline-item p {
  font-size: 18px;
  line-height: 1.5;
  color: #372414;
}

.map{
  max-width: 1000px; 
  margin: 40px auto;
  border-radius: 15px; 
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}

.map iframe {
  width: 100%;  
  height: 450px;
  border: 0;
}

@media (max-width: 768px) {
  .timeline-item {
    flex-direction: column;
    padding-left: 40px;
    text-align: center;
    gap: 10px;
  }

  .timeline-img {
    width: 60px;
    height: 60px;
  }

  .year {
    font-size: 18px;
  }

  .timeline-item p {
    font-size: 16px;
  }
}
