.header{

    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: fantasy;


}

.navbar{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     box-shadow: 0 2px 15px;
     
}

.navbar a.space{
color: rgb(255, 255, 255);
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 100px; 
}

.quote{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
    margin-bottom: 200px;
    margin-top: -150px;
    
}