.header{

    color: rgb(4, 4, 4);
    text-decoration: none;
    font-family: fantasy;


}


.subnav{
     font-size: 15px;
    padding-left: 20px;
   border-bottom:solid  #e7e6e5 0.5px;
    color: #372414;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.subnav .search-form {
     display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.subnav .search-form input{
    outline: none;
     padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 200px;
}

.search-form button {
  padding: 8px 12px;
  border: 2px solid #F7EBDF;
  background-color: #F7EBDF;
  color: #ffffff9e;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}


.search-form button:hover {
  background-color: #f5e1cc;
}
.search-form input:focus {
  border-color: #372414;}


.navbar{
    font-size: 50px;
    text-align: center;
    border-bottom: solid #e7e6e5 0.5px;
padding-top: 30px;
padding-bottom: 30px;
margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-family: fantasy;
    gap: 40px;
    
}

.navbar a.space{
    color: #372414;
    text-decoration: none;
    
}

.logo img{
    width: 80px;
    height: auto;
    display: block;
}


.header h1{
    display: flex;
 justify-content: center; 
 font-size: 100px; 
}

.quote{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
    margin-bottom: 200px;
    margin-top: -150px;
    
}

.foto img{
    width: auto;
    height: auto;
   border-radius: 30px;
   
}

.foto{
border-radius:30px;
    display: flex;
    justify-content: right;
border:solid #ecebea 0.5px;
width: auto;
height: auto;
align-items: flex-end;
background-color: #F7EBDF;
   margin-top: 30px;
}