
.subnav {
    font-size: 15px;
    padding-left: 20px;
    border-bottom: solid #e7e6e5 0.5px;
    color: #372414;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnav .search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.subnav .search-form input {
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 200px;
}

.search-form button {
    padding: 8px 12px;
    border: 2px solid #F7EBDF;
    background-color: #F7EBDF;
    color: #ffffff9e;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-form input:focus {
    border-color: #372414;
}


.navbar {
    font-size: 30px;
    text-align: center;
    border-bottom: solid #e7e6e5 0.5px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    gap: 40px;
}

.navbar a.space {
    color: #372414;
    text-decoration: none;
}

.logo img {
    width: 80px;
}


body {
    margin: 0;
    padding: 0;
    background: #fff7ee;
    font-family: Arial, sans-serif;
}


.container {
    max-width: 950px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
    background: white;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

.image-box img {
    width: 330px;
    border-radius: 20px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.2);
}

.info h1 {
    font-size: 35px;
    color: #85328a;
}

.price {
    font-size: 26px;
    font-weight: bold;
    color: #d88f2f;
}

.btn {
    margin-top: 25px;
    padding: 12px 20px;
    background: #d88f2f;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
}
.btn:hover {
    background: black;
}


.cart-icon {
    font-size: 24px;
    text-decoration: none;
    color: #372414;
    position: relative;
}

#cartCount {
    background: #d88f2f;
    padding: 2px 7px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right: -15px;
}

.cart-popup {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 270px;
    background: white;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
    display: none;
    z-index: 1000;
}

.close-btn {
    width: 100%;
    padding: 10px;
    background: #372414;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .image-box img {
        width: 260px;
    }
}
