.navbar{
    font-size: larger;
    padding: 0 20px;
    background-color: rgba(0, 0, 0);
    border: solid black 1px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 80px;
    height: auto;
    display: block;
}
.nav a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
   
}
.login a{
    text-decoration: none;
    color: white;
    margin: 0 5px;
}
.login span{
    color: white;
    
}
.header{
    display: flex;             
    justify-content: center;  
    align-items: center;        
    height: 80px;              
    text-align: center;       
     color: rgb(0, 0, 0);
   
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center; 
    gap: 20px;
    padding: 10px 0;
}

.product-card{
    display: inline-block;
    width: 200px;
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 50%; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}


.product-card:hover{
    transform: scale(1.05);
}


.product-card img{
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%; 
}


.product-card h3, .product-card p{
    margin: 10px 0;
}

.btn{
    display: inline-block;
    padding: 8px 10px;
    background: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
}
