
.subnav{
    font-size: 15px;
    padding-left: 20px;
   border-bottom:solid  #e7e6e5 0.5px;
    color: #372414;
    height: 45px;
    display: flex;
    justify-content: space-between;
}


 .subnav .search-form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

 .subnav .search-form input{
    outline: none;
     padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 200px;
}

.search-form button {
  padding: 8px 12px;
  border: 2px solid #F7EBDF;
  background-color: #F7EBDF;
  color: #ffffff9e;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.3s;
}
.search-form button:hover {
  background-color: #f5e1cc;
}
.search-form input:focus {
  border-color: #372414;}
.navbar{
    font-size: 50px;
    text-align: center;
  /*  background-color:#372414 ;*/
     border-bottom: solid  #e7e6e5 0.5px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
  /*   box-shadow: 0 2px 15px;*/
     }

.navbar a.space{
color:#372414;
text-decoration: none;

}


.logo img{
    width: 80px;
    height: auto;
    display: block;
}



footer{
  
    width: auto;
    height: auto;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #372414;
  text-align: center;
}

.footer-section p {
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.5;
  color: #372414;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  border-top: 0.5px solid  #e7e6e5;
  padding-top: 10px;
  color: #ccc;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }
}

.login-container {
    width: 380px;
    background: #fff;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    gap: 40px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;



}

.foto img {
    width: 120px;
    margin-bottom: 15px;
}

.login h2 {
    margin-bottom: 15px;
    font-size: 26px;
}

.login label {
    display: block;
    text-align: left;
    margin-top: 12px;
    font-weight: bold;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s;
}

.login input:focus {
    border-color: #7a5af5;
    outline: none;
}

.login-btn {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    background: #f2b632;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

.login-btn:hover {
    background:#d9a12f;
}

.or-text {
    margin: 15px 0 8px;
    font-size: 14px;
    color: #555;
}

.social-login a {
    display: inline-block;
    padding: 10px 14px;
    margin: 5px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.facebook-btn {
    background: #4267B2;
}
.facebook-btn:hover {
    background-color: #365899;
}

.email-btn {
    background: #f44336;
}
.email-btn:hover {
    background-color: #d32f2f;
}
.create-account {
    margin-top: 15px;
    font-size: 14px;
}

.create-account a {
    color: #7a5af5;
    font-weight: bold;
    text-decoration: none;
}
