.header{

    color:black;
    text-decoration: none;
    font-family: fantasy;


}

.navbar{
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.94);
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     box-shadow: 0 2px 15px;
     
}

.navbar a.space{
color: rgb(255, 255, 255);
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 100px; 
}

.photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   row-gap: 200px;
   column-gap: 100px;
  

}

.photo img{
    width: 100%;
    height:auto;
    box-shadow: 0 3px 11px;
    border-radius: solid brown 10px;
    object-fit: cover;
    
   
}

.quote{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
    margin-bottom: 200px;
    margin-top: -150px;
    
}


.photo .card{
    color: black;
    border:  solid black 1px;
    width: auto;
    height: 900px;
     border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding:25px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    
    
}

.new{
    padding-top: 150PX;
}

.new h2{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 5px;
}

.new p{
    color:rgb(0, 0, 0) ;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   padding-bottom: 100px;
  margin-top: -100px;
}

.card:hover{
border: solid black 1px;
color: rgba(5, 5, 5, 0.684);

}

.nicolas{
display: flex;
justify-content: center;
border: solid grey 0.5px;
box-shadow: 2px 4px 15px;
margin-top: -200px;
}

.nicolas:hover{
   box-shadow: 2px 4px 25px;
}
.nicolas .nico{
display: flex;
justify-content: space-between;


}


.slider-wrapxpper{
    width:400px ;
    height: 50px;
    overflow: hidden;
    /*display: flex;*/
   /* border-radius: 0;*/
   margin-bottom: 1500px;
}
/*.slider{
    width: 900px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px ;
}*/

.slides{
   width: calc(200px *8);
  /**  height: 100%;*/
    display: flex;
    animation: slide 12s linear infinite;
}

.slides img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

@keyframes slide{
    0%  {transform: translateX(0);}
    
    100% {transform: translateX(calc(-200px * 4));}

}