.header{

    color:#372414 ;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
justify-content: flex-start;
margin-top: 100px;

padding-left: 50px;

}




.navbar{
    font-size: 50px;
    text-align: center;
    background-color:#372414 ;
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     box-shadow: 0 2px 15px;
     
}

.navbar a.space{
color:#F7EBDF;
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 80px; 
}


.quote{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
     color: #372414 ;
     display: flex;
     justify-content: flex-start;
    margin-bottom: 200px;
    margin-top: -60px;
    padding-left: 50px;
    white-space: pre-line;
}

.slider-wrapxpper{
    width:400px ;
    height: 50px;
    overflow: hidden;
    /*display: flex;*/
   /* border-radius: 0;*/
   
   margin-bottom: 1500px;
}
/*.slider{
    width: 900px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px ;
}*/

.slides{
   width: calc(200px *8);
  /**  height: 100%;*/
    display: flex;
    animation: slide 12s linear infinite;

    margin-top: 100px;
}

.slides img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

@keyframes slide{
    0%  {transform: translateX(0);}
    
    100% {transform: translateX(calc(-200px * 4));}

}

.coko{
    display: flex;
    justify-content: right;
    margin-top: -500px;
    padding-right: 40px;
   
}

.coko img{
    width: 450px;


}

.buton{
 background-color: #372414 ;
    color:#F7EBDF;
    padding: 12px 24px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;

}

.buton:hover{
    background-color: rgb(114, 119, 114);
}

.button{
    margin-left: 100px;
    margin-top: -150px;
}

.logo img{
    width: 80px;
    height: auto;
    display: block;
}

.kifle img{


    width: 400px;
}

.kifle{
    display: flex;
    justify-content: right;
    padding-top:200px ;
 padding-right: 20px;
}

.baked{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
color:#372414 ;
}

.flavour{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color:#372414 ;
    
}

.flavour p{
    margin-bottom: 60px;
}

.slide {
    position: relative;
    display: inline-block;
}

.slide img {
    width: 500px;   
    height: 500px;  
    object-fit: cover;
    margin-right: 20px; }

.view-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background:#37241473 ;
    color: #fff;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin-right: 200px;
    margin-bottom: 20px;
    
}
.view-more:hover{
   background-color:  #372414;
}


.boksi{
border: solid #f1f1f1 100px;
width: auto;
height: 800px;
margin: auto;
position: relative;
overflow: hidden; 
}

.boksi img{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: auto; 
    transform: rotate(-15deg) translate(50px, 30px);   
}

 .boksi h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #372414;
text-align: right;
    padding-right: 450px;
    padding-top: 150px;

 }

  
 .boksi h2{
    font-size: 40px;
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
 }

 .boksi p{
    font-size: 30px;
    text-align: right;
 padding-right: 30px;
 }
 .sale p{
    padding-right: 300px;
 }

.buton{
 background-color: #372414 ;
    color:#F7EBDF;
    padding: 12px 24px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    

}

.buton:hover{
    background-color: rgb(114, 119, 114);
}

.button1{
    display: flex;
    justify-content: flex-end;
    padding-right: 500px;
}

.best{

border: solid #f1f1f1 100px;
width: auto;
height: 800px;
margin-left: auto;
margin-right: auto;
margin-top: 70px;
position: relative;
overflow: hidden; 
}