.header{

    color: rgb(59, 27, 27);
    text-decoration: none;
    font-family: fantasy;


}

.navbar{
    font-size: 50px;
    text-align: center;
    background-color: rgba(142, 95, 71, 0.682);
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     box-shadow: 0 2px 15px;
     
}

.navbar a.space{
color: rgb(30, 10, 5);
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 100px; 
}

.photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   row-gap: 200px;
   column-gap: 100px;

}

.photo img{
    width: 100%;
    height: auto;
    box-shadow: 0 3px 11px;
    border-radius: solid brown 10px;
    object-fit: cover;
   
}

.quote{
    font-size: 60px;
    font-family: "Brush Script MT", cursive;
     color: rgb(59, 27, 27);
     display: flex;
     justify-content: center;
    
}
