.header{

    color:black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
justify-content: flex-start;
margin-top: 100px;

padding-left: 50px;

}

.navbar{
    font-size: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.94);
    /* border-bottom: solid rgb(126, 125, 125) 0.5px;*/
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
     font-family: fantasy;
     margin: auto;
     gap: 40px;
     box-shadow: 0 2px 15px;
     
}

.navbar a.space{
color: rgb(255, 255, 255);
text-decoration: none;

}

.header h1{
    display: flex;
 justify-content: center; 
 font-size: 80px; 
}


.quote{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: flex-start;
    margin-bottom: 200px;
    margin-top: -60px;
    padding-left: 50px;
    white-space: pre-line;
}

.slider-wrapxpper{
    width:400px ;
    height: 50px;
    overflow: hidden;
    /*display: flex;*/
   /* border-radius: 0;*/
   
   margin-bottom: 1500px;
}
/*.slider{
    width: 900px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px ;
}*/

.slides{
   width: calc(200px *8);
  /**  height: 100%;*/
    display: flex;
    animation: slide 12s linear infinite;

    margin-top: 100px;
}

.slides img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

@keyframes slide{
    0%  {transform: translateX(0);}
    
    100% {transform: translateX(calc(-200px * 4));}

}

.coko{
    display: flex;
    justify-content: right;
    margin-top: -500px;
    padding-right: 40px;
   
}

.coko img{
    width: 450px;


}

.buton{
 background-color: #000000;
    color: white;
    padding: 12px 24px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;

}

.button{
    margin-left: 100px;
    margin-top: -150px;
}
