
.navbar{
    font-size: larger;
    padding: 0 20px;
    background-color: black;
    border: solid black 1px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 80px;
}
.nav a, .login a, .login span{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}


.header{
    text-align: center;
    padding: 25px 0;
}
.header h1{
    color: #d88f2f;
    font-size: 30px;
}


.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    padding: 20px;
    justify-items: center;
}


.product-card{
    width: 240px;
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

.product-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.22);
}


.image-circle {
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(circle, #b8b3ac, #ffdeb0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

.image-circle img{
    width: 170px;
    transition: 0.3s;
}

.product-card:hover img{
    transform: scale(1.08);
}

.btn{
    display: inline-block;
    padding: 8px 14px;
    background: #d88f2f;
    color: white;
    text-decoration: none;
    border-radius: 18px;
    margin-top: 10px;
    font-weight: 500;
    transition: 0.3s;
}
.btn:hover{
    background: black;
}
.muffins1 img { transform: scale(1.10); }
.muffins2 img {transform: scale(0.95);}
.muffins3 img {transform: scale(1.10);}


@media (max-width: 600px) {

    .navbar{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    .products{
        grid-template-columns: 1fr;
    }

    .product-card{
        width: 90%;
    }

    .image-circle{
        width: 140px;
        height: 140px;
    }

    .image-circle img{
        width: 150px;
    }
}


@media (max-width: 900px) {

    .products{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card{
        width: 220px;
    }
}


@media (max-width: 1200px) {

    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}